<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anelemhlanga.yogafitness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.CalendarView"
            android:label="@string/title_activity_calendar_view"
            android:parentActivityName=".Views.StartView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anelemhlanga.yogafitness.Views.StartView" />
        </activity>
        <activity
            android:name=".Views.AlarmView"
            android:label="@string/title_activity_alarm_view"
            android:parentActivityName=".Views.StartView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anelemhlanga.yogafitness.Views.StartView" />
        </activity>
        <activity
            android:name=".Views.ViewExerciseView"
            android:label="@string/title_activity_view_exercise_view"
            android:parentActivityName=".Views.ListExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anelemhlanga.yogafitness.Views.ListExercises" />
        </activity>
        <activity
            android:name=".Views.ListExercises"
            android:label="@string/title_activity_list_exercises"
            android:parentActivityName=".Views.StartView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anelemhlanga.yogafitness.Views.StartView" />
        </activity>
        <activity android:name=".Views.Daily_Training" />
        <activity android:name=".Views.StartView" />
        <activity
            android:name=".Views.LaunchingView"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification.AlarmNotificationReceiver"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8c73561433d655d36010868d183de0eadf7b0f30" />
    </application>

</manifest>